<div class="container">
  <div class="justify-content-center d-flex align-items-center" style="margin-top: 30px">
    <button type="button" class="btn btn-light" style="padding: 30px 55px; color: rgb(79, 79, 79); font-weight: bolder; border-radius: 5px; background-color: rgba(252, 176, 223, 0.3); font-family: 'Amatic SC', cursive; letter-spacing: 2px; font-size: 25px; border: 1px solid rgba(255,255,255, 0.3)"><%= link_to "Create your cocktail!", new_cocktail_path %></button>
    <br><br>
  </div>
  <div class="cards">
    <% @cocktails.each do |cocktail|%>
      <% if cocktail.photo.attached?%>
        <div class="card-category text-center" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>')"><%= link_to "#{cocktail.name}", "/cocktails/#{cocktail.id}" %>
          <div>
            <ul class="text-left mt-4" style="font-weight: light; font-size: 10px; list-style-type:none;">
              <% cocktail.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul>
              
          </div>  
        </div>
      <% else %>
        <div class="card-category text-center" style="background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"><%= link_to "#{cocktail.name}", "/cocktails/#{cocktail.id}" %>
          <div>
            <ul class="text-left mt-4" style="font-weight: light; font-size: 10px; list-style-type:none;">
              <% cocktail.ingredients.each do |ingredient| %>
                <li><%= ingredient.name %></li>
              <% end %>
            </ul> 
          </div>  
        </div>
      <% end %>
<% end %>
